<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>五杀小说</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/lib/mui-master/dist/css/mui.min.css">
</head>
<body>
<header class="mui-bar mui-bar-nav">
    <a class="mui-icon mui-icon-bars mui-pull-left mui-plus-visible"></a>
    <a id="info" class="mui-icon mui-icon-info-filled mui-pull-right" style="color: #999;"></a>
    <h1 class="mui-title">梦想小说</h1>
</header>
<div class="mui-content">
    <ul class="mui-table-view mui-grid-view">
    <%for(var item of rows){%>
        <li class="mui-table-view-cell mui-media mui-col-xs-4">
            <a href="/app/appviewnove?id=<%=item._id%>">
                <img class="mui-media-object" src="<%=item.imgUrl%>">
                <div class="mui-media-body"><%=item.name%></div>
            </a>
        </li>
    <%}%>
    </ul>
</div>
<script src="/lib/mui-master/dist/js/mui.min.js"></script>
</body>
</html>